<!-- Template containing the form  -->
{% extends "base.html" %}

{% block title %}Search Wikipedia{% endblock %}

{% block content %}
    <h3><td height="500px"><img src="https://upload.wikimedia.org/wikipedia/en/8/8e/Dungeons_%26_Dragons_5th_Edition_logo.svg" width="500px"/></td>
<td></h3>
    <h2>We'll give you the rundown on the dos and don'ts</h2>
    <form action="/results" method="POST">
        <label for="place">Monster Name:</label>
        <input type="text" id="place" name="place" required>
        <button type="submit">Search</button>
    </form>
{% endblock %}